<div class="docs-section no-top-border" id="about">
  <div class="docs-header">About</div>
  <p>
    The workshops on <i>Generic Attacks and Proofs in Symmetric Cryptography</i> bring together leading experts and early-career researchers in the field of provable security for symmetric-key cryptography to discuss recent advances, revisit long-standing open problems, and identify promising directions for future research.<br>
    
    In addition to the in-person workshops, we host a recurring seminar, <a href="https://gapsworkshop.github.io/online/" target="_blank"><b>Online GAPS</b></a>, to provide a platform to share new results, exchange ideas, and encourage collaborations, especially among PhD students and early-career researchers.
  </p>
</div>