<div class="docs-section" id="news">
  <div class="docs-header">News</div>
  <ul>
    <li>22 May, 2026: <a  href="https://gapsworkshop.github.io/gaps2026/" target="_blank"><b>GAPS 2026</b></a> to be held at <b>TU Vienna, Austria</b> between <b>21-24 September, 2026</b>.</li>
    <li>10 April, 2026: <b>Viet Tung Hoang</b> will deliver an Online GAPS talk on <s>30 April, 2026</s> 10 June, 2026 at 15:00 UTC.</li>
    <li>10 April, 2026: <b>Minki Hhan</b> will deliver an Online GAPS talk today at 08:00 UTC.</li>
  </ul>
</div>
